{% extends "dashboard/base.html" %}
{% block dash_title %}Locality{% endblock %}
{% block page_title %}{% if locality %}Edit {{ locality.name }}{% else %}Add locality{% endif %}{% endblock %}
{% block dash_content %}
<form method="post" class="panel" style="max-width:900px">
  {% csrf_token %}
  <div class="row">
    {% for field in form %}{% include "partials/form_field.html" with field=field wrapper="col-md-6 mb-3" %}{% endfor %}
  </div>
  <button class="btn btn-primary">Save</button>
  <a href="{% url 'dashboard:locations' %}" class="btn btn-light border">Cancel</a>
</form>
{% endblock %}
